.thinghs-zone{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.thinghs-zone article{
    display: flex;
    background-color: var(--color-azul-claro);
    border-radius: 5px;
    justify-content: space-between;
    border: var(--color-azul-oscuro) 2px solid;
    padding: 0 3rem;
}